<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- navbar  -->
    <div class="top-nav">
        <div><span><img src="../Assets/PhoneIcon.svg" alt=""></span> 7697220101</div>
        <div><span><img src="../Assets/MailIcon.svg" alt=""></span> info@expertiseconsultant.com</div>
    </div>
    <nav>
        <a class="navbar-brand" href="#"><img src="../Assets/LOGO.png" alt="logo"></a>
        <ul>
            <li> <a href="./index.html">HOME</a> </li>
            <li> <a href="./clients.html">OUR CLIENTS</a> </li>
            <li> <a href="./opening.html">OPENING</a> </li>
            <li> <a href="./contact.html" id="navbarDropdown"> CONTACT </a> </li>
            <li> <a class="nav-link" href="./about.html">ABOUT US</a> </li>
        </ul>
    </nav>
    <!-- navbar end -->


    <div class="container">

        <section class="flex-container margin-container">
            <div class="shadow-custom text-center">
                <h1>About Us </h1>
                <p>At Expertise Consultant, we take pride in being a premier
                    partner for businesses seeking exceptional HR solutions that drive growth, efficiency, and lasting
                    success. With a team of seasoned HR consultants, each armed with a wealth of industry experience and
                    a
                    passion for driving positive change, we are dedicated to transforming the way organizations approach
                    human resources.</p>
            </div>
            <div>
                <img src="https://expertiseconsultant.com/images/about_us.png" alt="Banner">
            </div>
        </section>
        <section class="shadow-custom margin-container text-center">
            <h1>Your Success, Our Priority</h1>
            <p>When you partner with [HR Consultant Firm Name], you're gaining more than just
                consultants – you're gaining allies who are deeply invested in your success. We believe that
                your
                organization is unique, and therefore, your HR solutions should be tailor-made to suit your
                goals,
                values, and challenges. Our approach is rooted in collaboration, transparency, and a commitment
                to
                delivering outcomes that exceed expectations.</p>
        </section>
        <section class="flex-container margin-container">
            <img src="../Assets/Image-2.png" alt="Image-2">
            <div class="text-center shadow-custom">
                <h1 class="card-title">A Track Record Of Excellence</h1>
                <p class="card-text">Over the years, our consultants have had the privilege of
                    supporting a wide range of organizations, from startups to established enterprises. Our success
                    stories
                    are not just measured in terms of resolved issues; they're measured in the growth, productivity, and
                    harmony we've helped foster within these organizations.</p>
            </div>
        </section>
        <section class="flex-container margin-container">
            <div class="shadow-custom text-center">
                <h1>Our Vision</h1>
                <p>Our vision is to become the top leading Human Resource Firm
                    which provides best services to the top stake holder Globally.</p>
            </div>
            <img src="../Assets/Frame 16.png" alt="Frame">
        </section>
        <section class="flex-container margin-container">
            <img src="../Assets/OurMissionImage.png" alt="OurMissionImage">
            <div class="shadow-custom text-center">
                <h1>Our Mission</h1>
                <p> Over Mission is to develop long term relationship and give the best practices to transform the
                    today's challenge to smooth operations</p>
            </div>
    </div>
    </section>

    </div>

    <!-- footer -->
    <Footer>
        <div>
            <h3>Links</h3>
            <div class="link">
                <ul>
                    <li> <a href="./index.html">HOME</a> </li>
                    <li> <a href="./clients.html">OUR CLIENTS</a> </li>
                    <li> <a href="./opening.html">OPENING</a> </li>
                    <li> <a href="./contact.html" id="navbarDropdown"> CONTACT </a> </li>
                    <li> <a class="nav-link" href="./about.html">ABOUT US</a> </li>
                </ul>
            </div>
            <div>
                <h3>Social media</h3>
                <div>
                    <img src="../Assets/icons/ant-design_facebook-filled.svg" alt="">
                    <img src="../Assets/icons/akar-icons_linkedin-box-fill.svg" alt="">
                    <img src="../Assets/icons/akar-icons_twitter-fill.svg" alt="">
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <h1>EXPERTISE</h1>
            <h1>CONSULTANT</h1>
        </div>
    </Footer>
    <!-- footer end -->
</body>

</html>
