<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css" />
    <title>Client List: Expertise Consultant</title>
</head>

<body>
    <!-- navbar  -->
    <div class="top-nav">
        <div>
            <span><img src="../Assets/PhoneIcon.svg" alt="" /></span> 7697220101
        </div>
        <div>
            <span><img src="../Assets/MailIcon.svg" alt="" /></span>
            info@expertiseconsultant.com
        </div>
    </div>
    <nav>
        <a class="navbar-brand" href="#"><img src="../Assets/LOGO.png" alt="logo" /></a>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./clients.html">OUR CLIENTS</a></li>
            <li><a href="./opening.html">OPENING</a></li>
            <li><a href="./contact.html" id="navbarDropdown"> CONTACT </a></li>
            <li><a class="nav-link" href="./about.html">ABOUT US</a></li>
        </ul>
    </nav>
    <!-- navbar end -->

    <div class="container">
        <section class="margin-container">
            <h1>Clints / Partner</h1>
            <div class="grid-card">
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyNasa.png" alt="CompanyNasa" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyTATA.png" alt="CompanyTATA" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyApple.png" alt="CompanyApple" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyTesla.png" alt="CompanyTesla" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyPepsi.png" alt="CompanyPepsi" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyAmazon.png" alt="CompanyAmazon" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyNationalGeographic.png" alt="CompanyNationalGeographic" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyFedEx.png" alt="CompanyFedEx" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyTCS.png" alt="CompanyTCS" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyHDFCBank.png" alt="CompanyHDFCBank" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyInfosys.png" alt="CompanyInfosys" />
                </div>
                <div class="card shadow-custom">
                    <img src="../Assets/CompanyICICBank.png" alt="CompanyICICBank" />
                </div>
            </div>
        </section>
        <section class="margin-container">
            <h1>We Serve Following Sector :</h1>
            <div class="grid-card">
                <div class="card unsaturate">
                    <img src="../Assets/SectorIT.png" class="card-img-top" alt="IT" />
                    <div class="card-body">
                        <h5>IT</h5>
                    </div>
                </div>
                <div class="card unsaturate">
                    <img src="../Assets/SectorDoctor.png" class="card-img-top" alt="Doctor" />
                    <div class="card-body">
                        <h5>Doctor</h5>
                    </div>
                </div>
                <div class="card unsaturate">
                    <img src="../Assets/SectorMangement.png" class="card-img-top" alt="SectorMangement" />
                    <div class="card-body">
                        <h5>Management</h5>
                    </div>
                </div>
                <div class="card unsaturate">
                    <img src="../Assets/SectorBanking.png" class="card-img-top" alt="SectorBanking" />
                    <div class="card-body">
                        <h5>banking</h5>
                    </div>
                </div>
                <div class="card unsaturate">
                    <img src="../Assets/SectorBPOKPO.png" class="card-img-top" alt="SectorBPOKPO" />
                    <div class="card-body">
                        <h5>BPO/KPO</h5>
                    </div>
                </div>
                <div class="card unsaturate">
                    <img src="../Assets/SectorLogistic.png" class="card-img-top" alt="SectorLogistic" />
                    <div class="card-body">
                        <h5>Logistic</h5>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- footer -->
    <footer>
        <div>
            <h3>Links</h3>
            <div class="link">
                <ul>
                    <li><a href="./index.html">HOME</a></li>
                    <li><a href="./clients.html">OUR CLIENTS</a></li>
                    <li><a href="./opening.html">OPENING</a></li>
                    <li><a href="./contact.html" id="navbarDropdown"> CONTACT </a></li>
                    <li><a class="nav-link" href="./about.html">ABOUT US</a></li>
                </ul>
            </div>
            <div>
                <h3>Social media</h3>
                <div style="social-media-small">
                    <img src="../Assets/icons/ant-design_facebook-filled.svg" alt="" />
                    <img src="../Assets/icons/akar-icons_linkedin-box-fill.svg" alt="" />
                    <img src="../Assets/icons/akar-icons_twitter-fill.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <h1>EXPERTISE</h1>
            <h1>CONSULTANT</h1>
        </div>
    </footer>
</body>

</html>
