<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css" />
    <title>Contact Us</title>
</head>

<body>
    <!-- navbar  -->
    <div class="top-nav">
        <div>
            <span><img src="../Assets/PhoneIcon.svg" alt="" /></span> 7697220101
        </div>
        <div>
            <span><img src="../Assets/MailIcon.svg" alt="" /></span>
            info@expertiseconsultant.com
        </div>
    </div>
    <nav>
        <a class="navbar-brand" href="#"><img src="../Assets/LOGO.png" alt="logo" /></a>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./clients.html">OUR CLIENTS</a></li>
            <li><a href="./opening.html">OPENING</a></li>
            <li><a href="./contact.html" id="navbarDropdown"> CONTACT </a></li>
            <li><a class="nav-link" href="./about.html">ABOUT US</a></li>
        </ul>
    </nav>
    <!-- navbar end -->

    <div class="container">
        <h1>Contact Us</h1>
        <section class="flex-container margin-container">
            <form>
                <h1>Sent Message</h1>
                <div>
                    <label>Your Name *</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Phone Number *</label>
                    <input type="number" />
                </div>
                <div>
                    <label>Email *</label>
                    <input type="email" />
                </div>
                <div>
                    <label>Address *</label>
                    <input type="text" />
                </div>
                <div>
                    <button>Sent</button>
                </div>
            </form>
            <img src="../WhatsApp Image 2023-08-18 at 20.57.11.jpeg" alt="map" style="width: 35rem" />
        </section>
    </div>

    <!-- footer   -->
    <footer>
        <div>
            <h3>Links</h3>
            <div class="link">
                <ul>
                    <li><a href="./index.html">HOME</a></li>
                    <li><a href="./clients.html">OUR CLIENTS</a></li>
                    <li><a href="./opening.html">OPENING</a></li>
                    <li><a href="./contact.html" id="navbarDropdown"> CONTACT </a></li>
                    <li><a class="nav-link" href="./about.html">ABOUT US</a></li>
                </ul>
            </div>
            <div>
                <h3>Social media</h3>
                <div style="social-media-small">
                    <img src="../Assets/icons/ant-design_facebook-filled.svg" alt="" />
                    <img src="../Assets/icons/akar-icons_linkedin-box-fill.svg" alt="" />
                    <img src="../Assets/icons/akar-icons_twitter-fill.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <h1>EXPERTISE</h1>
            <h1>CONSULTANT</h1>
        </div>
    </footer>
</body>

</html>
