<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css" />
    <title>
        Expertise Consultant
    </title>
</head>

<body>

    <!-- navbar  -->
    <div class="top-nav">
        <div><span><img src="../Assets/PhoneIcon.svg" alt=""></span> 7697220101</div>
        <div><span><img src="../Assets/MailIcon.svg" alt=""></span> info@expertiseconsultant.com</div>
    </div>
    <nav>
        <a class="navbar-brand" href="#"><img src="../Assets/LOGO.png" alt="logo"></a>
        <ul>
            <li> <a href="./index.html">HOME</a> </li>
            <li> <a href="./clients.html">OUR CLIENTS</a> </li>
            <li> <a href="./opening.html">OPENING</a> </li>
            <li> <a href="./contact.html" id="navbarDropdown"> CONTACT </a> </li>
            <li> <a class="nav-link" href="./about.html">ABOUT US</a> </li>
        </ul>
    </nav>
    <!-- navbar end -->


    <img style="width: 100%;" src="../Assets/Banner.png" alt="Banner">
    <div class="container">
        <div class="flex-container margin-container">
            <img src="../Assets/HomeImage.png" alt="HomeImage">
            <div class="shadow-custom text-center">
                <div>
                    <h1 class="card-title">Why Choose Expertise Consultant For Your HR Solution</h1>
                    <p class="card-text">At Expertise Consultant, we understand that choosing an HR consultant is a
                        critical
                        decision that can significantly impact your business's success. With a plethora of options
                        available, we believe that our firm stands out as a leader in delivering unparalleled HR
                        solutions.
                        Here's why you should choose us as your trusted partner</p>
                </div>
            </div>
        </div>
        <div class="shadow-custom text-center margin-container">
            <h1 class="card-title">Industry Insights and Innovations</h1>
            <p class="card-text">HR is a dynamic field that's constantly evolving. Our consultants are not just experts;
                they're industry enthusiasts who stay at the forefront of HR trends and innovations. This means you'll
                benefit from the latest insights, best practices, and emerging technologies that can elevate your HR
                strategies to new heights.</p>
        </div>
        <h2>Top Clints / Partner</h2>
        <div class="grid-card">
            <div class="card shadow-custom">
                <img src="../Assets/CompanyNasa.png" alt="CompanyNasa">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyTATA.png" alt="CompanyTATA">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyApple.png" alt="CompanyApple">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyTesla.png" alt="CompanyTesla">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyPepsi.png" alt="CompanyPepsi">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyAmazon.png" alt="CompanyAmazon">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyNationalGeographic.png" alt="CompanyNationalGeographic">
            </div>
            <div class="card shadow-custom">
                <img src="../Assets/CompanyFedEx.png" alt="CompanyFedEx">
            </div>
        </div>
        </section>
        <section class="margin-container">
            <h1 class="title-center">Follow us in social media</h1>
            <div class="social-media">
                <img src="../Assets/icons/ri_instagram-fill.svg">
                <img src="../Assets/icons/logo-black 1.svg">
                <img src="../Assets/icons/entypo-social_facebook.svg" alt="">
                <img src="../Assets/icons/Vector.svg" alt="">
            </div>
        </section>
    </div>
    <Footer>
        <div>
            <h3>Links</h3>
            <div class="link">
                <ul>
                    <li> <a href="./index.html">HOME</a> </li>
                    <li> <a href="./clients.html">OUR CLIENTS</a> </li>
                    <li> <a href="./opening.html">OPENING</a> </li>
                    <li> <a href="./contact.html" id="navbarDropdown"> CONTACT </a> </li>
                    <li> <a class="nav-link" href="./about.html">ABOUT US</a> </li>
                </ul>
            </div>
            <div>
                <h3>Social media</h3>
                <div style="social-media-small">
                    <img src="../Assets/icons/ant-design_facebook-filled.svg" alt="">
                    <img src="../Assets/icons/akar-icons_linkedin-box-fill.svg" alt="">
                    <img src="../Assets/icons/akar-icons_twitter-fill.svg" alt="">
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <h1>EXPERTISE</h1>
            <h1>CONSULTANT</h1>
        </div>
    </Footer>
</body>

</html>
