<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css" />
    <title>Opening</title>
</head>

<body>
    <!-- navbar  -->
    <div class="top-nav">
        <div>
            <span><img src="../Assets/PhoneIcon.svg" alt="" /></span> 7697220101
        </div>
        <div>
            <span><img src="../Assets/MailIcon.svg" alt="" /></span>
            info@expertiseconsultant.com
        </div>
    </div>
    <nav>
        <a class="navbar-brand" href="#"><img src="../Assets/LOGO.png" alt="logo" /></a>
        <ul>
            <li><a href="./index.html">HOME</a></li>
            <li><a href="./clients.html">OUR CLIENTS</a></li>
            <li><a href="./opening.html">OPENING</a></li>
            <li><a href="./contact.html" id="navbarDropdown"> CONTACT </a></li>
            <li><a class="nav-link" href="./about.html">ABOUT US</a></li>
        </ul>
    </nav>
    <!-- navbar end -->
    <div class="container">
        <div class="input-container">
            <img class="input-icon" src="../Assets/icons/material-symbols_search.svg" alt="" />
            <input class="input-field" type="text" placeholder="Search Job" />
        </div>
        <section class="open-card">
            <h5 class="card-title"><strong>Tata Capital</strong></h5>
            <p style="color: gray">Associate</p>
            <h6>Jabalpur</h6>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
            </p>
            <p class="card-text">
                With supporting text below as a natural lead-in to additional content.
            </p>
            <ol>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ullam
                    quod similique fugit dolore architecto totam laboriosam. Ex, fuga
                    provident.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ullam
                    quod similique fugit dolore architecto totam laboriosam. Ex, fuga
                    provident.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ullam
                    quod similique fugit dolore architecto totam laboriosam. Ex, fuga
                    provident.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ullam
                    quod similique fugit dolore architecto totam laboriosam. Ex, fuga
                    provident.
                </li>
            </ol>
            <div class="button-group">
                <button class="btn-primary icon-button">
                    <img src="../Assets/icons/apply-now-icon.svg" alt="" />
                    Apply Now
                </button>
                <button class="icon-button">
                    <img src="../Assets/icons/save-icon.svg" alt="" />
                    Save
                </button>
            </div>
        </section>
        <section class="pagination-center">
            <button class="pagination">Previous</button>
            <button class="pagination">1</button>
            <button class="pagination">2</button>
            <button class="pagination-active">3</button>
            <button class="pagination">4</button>
            <button class="pagination">5</button>
            <button class="pagination">Next</button>
        </section>
    </div>
    <footer>
        <div>
            <h3>Links</h3>
            <div class="link">
                <ul>
                    <li><a href="./index.html">HOME</a></li>
                    <li><a href="./clients.html">OUR CLIENTS</a></li>
                    <li><a href="./opening.html">OPENING</a></li>
                    <li><a href="./contact.html" id="navbarDropdown"> CONTACT </a></li>
                    <li><a class="nav-link" href="./about.html">ABOUT US</a></li>
                </ul>
            </div>
            <div>
                <h3>Social media</h3>
                <div style="social-media-small">
                    <img src="../Assets/icons/ant-design_facebook-filled.svg" alt="" />
                    <img src="../Assets/icons/akar-icons_linkedin-box-fill.svg" alt="" />
                    <img src="../Assets/icons/akar-icons_twitter-fill.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="footer-logo">
            <h1>EXPERTISE</h1>
            <h1>CONSULTANT</h1>
        </div>
    </footer>
</body>

</html>
